$main-blue: #171D39;
$secondary-blue: #1C2344;
$tertiary-blue: #141A31;

$main-yellow: #F2B81F;
$secondary-yellow: #FFCE79;

$coin-main-blue: #6871E8;
$main-green: #49B567;

$borderRadius: 10px;



$deepBlack: #1d1d28;
$mainBlack: #3f3f3f;
$secondaryBlack: rgba(114, 114, 114, 1);

$mainBlue: rgba(0, 113, 153, 1);
$secondaryBlue: #33c9ff;

$lightWhite: #f5f5f5;
$lighterWhite: #eaeaea;

$mainGray: #ccc;

$mainRed: #a62525;
